// Font
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// Functions

// Project colours
$colors: (
    violet: hsl(263, 55%, 52%),
    grey-blue: hsl(217, 19%, 35%),
    dark-blue: hsl(219, 29%, 14%),
    white: hsl(0, 0%, 100%),
    light-grey: hsl(0, 0%, 81%),
    grey-blue--light: hsl(210, 46%, 95%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

// Spacing
$padding: (
    xs: 0.75rem,
    sm: 1rem,
    md: 1.35rem,
    lg: 1.5rem,
    xl: 1.75rem,
    xxl: 2rem,
);

@function padding($padding-size) {
    @return map-get($padding, $padding-size);
}

$margin: (
    xs: 0.75rem,
    sm: 1rem,
    md: 1.25rem,
    lg: 1.5rem,
    xl: 1.75rem,
    xxl: 2rem,
);

@function margin($margin-size) {
    @return map-get($margin, $margin-size);
}

// Reset

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-size: 13px;
    line-height: 1.5;
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    background-color: color(grey-blue--light);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

// Testimonial Styles
.testimonial-grid {
    display: grid;
    margin-inline: auto;
    width: 85%;
}

.testimonial-card {
    padding: padding(xl);
    border-radius: 8px;

    &:not(:first-of-type) {
        margin-top: margin(xxl);
    }

    &--img {
        border-radius: 50%;
        width: 2.25rem;
        grid-area: one;
    }

    &--title {
        font-weight: 500;
    }

    &--intro {
        font-size: 1.25rem;
        line-height: 1.2;
        margin-bottom: margin(sm);
    }

    &--content {
        opacity: 0.7;
    }
}

.testimonial-card--header {
    display: grid;
    align-items: center;
    grid-template-columns: 3.5rem auto;
    grid-template-areas: "one two";
    margin-bottom: margin(sm);

    .testimonial-card--meta {
        grid-area: two;

        p {
            opacity: 0.5;
        }
    }
}

.testimonial-card:first-of-type {
    background: color(violet) url("../images/bg-pattern-quotation.svg")
        no-repeat 185px top;
    color: color(white);
    margin-top: 3rem;
}

.testimonial-card:nth-of-type(2) {
    background-color: color(grey-blue);
    color: color(white);
}

.testimonial-card:nth-of-type(3),
.testimonial-card:nth-of-type(5) {
    background-color: color(white);
    color: color(dark-blue);
}

.testimonial-card:nth-of-type(4) {
    background-color: color(dark-blue);
    color: color(white);
}

// Attribution
.attribution {
    margin-top: margin(xxl);
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
